.body,header,h1{ background:rgb(255, 5, 172 ) ;font-size: 50px;padding-left: 40px;font-family:Goudy Stout  ;}
*{background:black}
.a{ width: 510px;height: 700px;}
.r{width: 800px;height: 600px;margin-top: 1px;}
.body,h2{ color: aliceblue;padding-left: 20px;}
.body,ol,li{color: white;}

.q{font-size: 30px;padding-left: 350px;}
.p{font-size: 30px;padding-left: 350px; }
